*{
    margin: 0;
    padding: 0;
}
span{
    margin:10px;
  /**  border:2px dotted red; **/
  border:2px solid black;
  color: rgb(red, green, blue);
  font-weight: 700;
  padding:20px;

  /*to change the behavior of inline element to act as a block element or to adopt the concept of block element in applying margin only, we will use "display property */
  display:inline-block;
}

p{
    margin: 10px;
    border:2px dotted red;
    padding :10px ;
}
div{
    margin-top:50px;
   
}
li{
    list-style: none;
    display:inline-block;
    margin:10px;
}